{% extends "./base.html" %}

{% block titulo %} Pagina de Peliculas {% endblock %}

{% block contenidobase %}


</head>
<nav id="barra" class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid d-flex align-items-center">
    <!-- FUNDASALUD -->
    <a id="barratitulo" class="navbar-brand me-2" href="#">FUNDASALUD</a>
    
              </li>
                <a class="" href="/inicio">INICIO</a>
              </li>
              
<a class="" href=""></a>
              </li>  <a class="" href=""></a>
              </li>  <a class="" href=""></a>
              </li>  <a class="" href=""></a>
              </li>  <a class="" href=""></a>
              </li>  
    <!-- MENÚ DESPLEGABLE -->
    <div class="dropdown">
  <button class="btn btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="navbar-toggler-icon"></span>
  </button>
  <ul class="dropdown-menu" id="colormenu">
    <li><a class="dropdown-item" href="/inicio">Inicio</a></li>
    <li><a class="dropdown-item" href="/quienes">¿Quiénes somos?</a></li>
    <li><a class="dropdown-item" href="/vista_jornadas">Jornadas</a></li>
    <li><a class="dropdown-item" href="/vista_publica">Noticias</a></li>
    <li><a class="dropdown-item" href="/servicio">Servicios</a></li>
    <li><a class="dropdown-item" href="/contacto">Contáctanos</a></li>
  </ul>
</div>
                <a class="" href=""></a>
              </li>   
  </div>
</nav>
          <!-- <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="navbar-brand" aria-current="page" href="/inicio">INICIO</a>
              </li>
              
              <li class="nav-item">
                <a class="navbar-brand" href="/quienes">¿QUIENES SOMOS?</a>
              </li>
              <li class="nav-item">
                <a class="navbar-brand" href="/vista_jornadas">JORNADAS</a>
              </li>
              <li class="nav-item">
                <a class="navbar-brand" href="/vista_publica">NOTICIAS</a>
              </li>
              <li class="nav-item">
                <a class="navbar-brand" href="/servicio">SERVICIOS</a>
              </li>
              <li class="nav-item">
                <a class="navbar-brand" href="/contacto">CONTACTANOS</a>
              </li> -->
              <br><br>
<img src="/static/imagenes/cintillo.jpg" alt="cintillo" width="1260">
</head>
</section>
<section id="Secciones" class="container">
  <div class="row g-4">
    <h1 class="text-center">Noticias</h1>
    {% for noticia in noticias %}
      <div class="col-md-4">
          <div class="card shadow-sm rounded h-100 d-flex flex-column">
              <img src="{{ url_for('static', filename='imagenes/' + noticia.imagen) }}" alt="{{ noticia.titulo }}" class="card-img-top" style="height: 200px; object-fit: cover;">
              <div class="card-body text-center d-flex flex-column justify-content-between">
                  <h4 class="card-title">{{ noticia.titulo }}</h4>
                  <p class="card-text">{{ noticia.descripcion }}</p>
                  <p class="text-muted"><strong>Fecha:</strong> {{ noticia.fecha }}</p>
              </div>
          </div>
      </div>
    {% endfor %}
  </div>
</section>
<footer class="footer-area pt-60 pb-60 black-bg">
    <div class="container">
        <div class="row">
            <!-- Información sobre los desarrolladores -->
            <div class="col-lg-4 col-md-6">
                <div class="footer-widget">
                    <div class="footer-logo">
                        <h2 style="color: #ffffff;">WEB Desarrollada y Administrada por</h2>
                        <p style="color: #ffffff; font-size: 20px;">
                            Angel Fernandez, Jesus Montilla, Andres Mendoza.
                        </p>
                    </div>
                    <br>
                    <p style="color: #ffffff; font-size: 18px;">Copyright 2025</p> 
                    <br>
                    <a href="/crud" class="btn btn-success">Herramientas de desarrollador</a>
                </div>
            </div>

            <!-- Ubicación y contacto -->
            <div class="col-lg-4 col-md-6">
                <div class="footer-widget">
                    <h3 style="color: #ffffff;">Ubicación:</h3>
                    <p style="color: #ffffff;">Dirección: FUNDASALUD está ubicada en el Estado Trujillo, municipio Trujillo, <br>Parroquia Cruz Carrillo Venezuela. Autopista Valera Trujillo.</p>
                    <h3 style="color: #ffffff;">Teléfonos:</h3>
                    <p style="color: #ffffff;">
                        ***************  0272-2367898  *************<br>
                        ***************  0412-5678987  *************<br>
                    </p>
                </div>
            </div>

            <!-- Redes sociales -->
            <div class="col-lg-4 col-md-12">
                <div class="footer-widget">
                    <h3 style="color: #ffffff;">Síguenos en nuestras redes sociales:</h3>
                    <ul class="social-links">
                        <li><a href="https://www.facebook.com/FundacionTrujillanaDeLaSalud/" target="_blank" style="color: #ffffff;"><i class="fab fa-facebook-f"></i> Facebook</a></li>
                        <li><a href="https://x.com/Fundasaludtru" target="_blank" style="color: #ffffff;"><i class="fab fa-twitter"></i> X</a></li>
                        <li><a href="https://www.instagram.com/fundasaludtru/" target="_blank" style="color: #ffffff;"><i class="fab fa-instagram"></i> Instagram</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}